#Options		+FollowSymLinks	
RewriteEngine	on	

RewriteRule   ^/([uge])/([^/]+)$  /$1/$2/   [R]

#RewriteCond     %{REMOTE_ADDR}  =64.59.48.210   [OR]
#RewriteCond     %{REMOTE_ADDR}  =24.59.107.227 	[OR]
#RewriteCond     %{REMOTE_ADDR}  =75.13.46.110  [OR]
#RewriteCond     %{REMOTE_ADDR}  =72.241.178.173   [OR]
#RewriteCond     %{REMOTE_ADDR}  =75.13.42.202 [OR]

#RewriteCond     %{REMOTE_ADDR}  =72.225.209.13 [OR]
#RewriteCond     %{REMOTE_ADDR}  =69.22.242.59 [OR]
#RewriteCond 	%{REMOTE_ADDR}  =168.122.187.146 [OR]
#RewriteCond    %{REMOTE_ADDR}  =66.11.201.222 [OR]
#twiggy


RewriteCond %{HTTP_USER_AGENT} ^Missigua [NC,OR]
RewriteCond %{HTTP_REFERER} cafeturk [NC,OR]
RewriteCond %{HTTP_REFERER} 94027264 [NC,OR]
RewriteCond %{HTTP_REFERER} 115000377 [NC,OR]
RewriteCond %{HTTP_REFERER} 117586368 [NC,OR]
RewriteCond %{HTTP_REFERER} 41922984 [NC,OR]
RewriteCond %{HTTP_REFERER} 5674413 [NC,OR]
RewriteCond %{HTTP_REFERER} 62233319 [NC,OR]
RewriteCond %{HTTP_REFERER} 34156300 [NC,OR]
RewriteCond %{HTTP_REFERER} 1456144 [NC,OR]
RewriteCond %{HTTP_REFERER} 178185335 [NC,OR]
RewriteCond %{HTTP_REFERER} 29140770 [NC,OR]
RewriteCond %{HTTP_REFERER} 1800525 [NC,OR]
RewriteCond %{HTTP_REFERER} 7265885 [NC,OR]    
RewriteCond %{HTTP_REFERER} 36581417 [NC,OR]    
RewriteCond %{HTTP_REFERER} 94577499 [NC,OR]    
RewriteCond %{HTTP_REFERER} 22296918 [NC,OR]
RewriteCond %{HTTP_REFERER} gaiaonline [NC,OR]
RewriteCond %{HTTP_REFERER} ezboard [NC,OR]
RewriteCond %{HTTP_REFERER} fomportal [NC,OR]
RewriteCond %{HTTP_REFERER} muselive [NC,OR]
RewriteCond %{HTTP_REFERER} brickfilms [NC,OR]
RewriteCond %{HTTP_REFERER} meetmeinto [NC,OR]
RewriteCond %{HTTP_REFERER} gamespot [NC,OR]
RewriteCond %{HTTP_REFERER} ilxor [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://www.fantasybaseballcafe.com.*$ [NC]
RewriteRule .*   http://lh4.ggpht.com/_qteuxGvuwP8/SHT8PlMB8FI/AAAAAAAAExo/Mk-KQl7oJeM/Mackinaw+Trip+030.jpg  [R,L]


#RewriteRule	^$	/blog/?	[R]
RewriteRule     ^_/?$      /blog/?  [R]
RewriteRule     ^blog/?$     /?       [R=301,L]
RewriteRule	^userscripts/?$	http://userscripts.org/scripts/show/6619	[R]
RewriteRule	^podcast.*	/blog/wp-rss2-itunes.php?cat=10	[L,R]


RewriteRule	^userscripts/?$	/blog/?  [R,L]
RewriteRule	^boredoms.*$	/blog/?  [R,L]
RewriteRule	^sound.*$	/blog/?  [R,L]
RewriteRule	^hip_picks.?$	/blog/?  [R,L]
RewriteRule	^job.*$	/blog/?  [R,L]
RewriteRule	^kittycity.*$	/blog/?  [R,L]
RewriteRule	^lol.?$	/blog/?  [R,L]
RewriteRule	^mrtg.*$	/blog/?  [R,L]
RewriteRule	^no.?$	/blog/?  [R,L]
RewriteRule	^ringtones.*$	/blog/?  [R,L]
RewriteRule	^videotests.*$	/blog/?  [R,L]
RewriteRule	^wiki.*$	/blog/?  [R,L]
RewriteRule     ^~.*$        /blog/?  [R,L]
RewriteRule	^foaf.*		/blog/? [R,L]


#mod_gzip_on	No
Order Allow,Deny
Allow from all
Deny from 66.90.118.0/24
#Deny from 128.122.226.112

Redirect 303	/blog/_	http://wizardishungry.com/blog.old/_
Redirect permanent /blog/feed http://wizardishungry.wordpress.com/feed
Redirect permanent /blog http://wizardishungry.wordpress.com/
Redirect permanent /feed http://wizardishungry.wordpress.com/feed
Redirect permanent /podcast http://wizardishungry.wordpress.com/feed
