---
layout: page
title:
header: Recent Posts
group: featured
---
{% include JB/setup %}

<section>
	<p>
		<label for="mn-pages" class="margin-toggle">⊕</label>
		<input type="checkbox" id="mn-pages" class="margin-toggle">
		<span class="marginnote">
			<em>Pages:</em>
			{% for page in site.pages %}
				{% if page.group == "featured" %}
					<a href="{{page.url}}">{{page.title}}</a>
				{% endif %}
			{% endfor %}
			<br>
			<span class="hide-emoji">
					<em>Elsewhere:</em>
					{% include social.html %}
			</span>
		</span>

		<span class="newthought">Now that you've arrived,</span>
		you should probably read one of the posts below or send me an email.
	</p>
	<p>
		I previously worked on software modular synthesizer designs, which are archived on
		the <a href="https://bongo.zone/">Pulsum Quadratum</a> website.
	</p>
</section>

<section>
	<h2><a href="archive.html">Notes</a></h2>
	<table>
	{% for page in site.posts %}
		{% if page.category == "featured" %}
			<tr class="short-post">
			<td class="meta">
				{{ page.date | date_to_string }}
			</td>
			<td>
				<a href="{{ page.url }}">{{ page.title }}</a>
			</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
</section>
