{% capture real_title %}{% if page.title %}{{ page.title }} / {% endif %}{{ site.author.name }}{%endcapture %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ real_title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="{{ site.production_url }}{{ site.JB.atom_path }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/tufte.css" type="text/css" media="screen, projection, print" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/jon.css" type="text/css" media="screen, projection, print" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/highlight.css" type="text/css" media="screen, projection, print" />

   <!-- OpenGraph -->
   <meta property="og:title" content="{{ real_title }}" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="{{ BASE_PATH }}{{ page.url }}" />
   <meta property="og:image" content="" />
   <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.tagline }}{% endif %}" />

   <!-- images -->
   <link rel="apple-touch-icon" href="/assets/images/jw.png"/>
   <meta http-equiv="imagetoolbar" content="no" />
   <link rel="shortcut icon" href="/assets/images/jw.png" />
   <link rel="icon" type="image/png" href="/assets/images/jw.png" />

   <!-- HTTPS -->
   <script language="javascript">
    // Enforce SSL
    (function (root) {
      "use strict";
      var h = root ? root.location.hostname : "",
      p = root ? root.location.protocol : "";
      if ("http:" === p && !(/(\.local$|127.0.0.1)/).test(h)) {
        root.location.protocol = "https:";
      }
    }
    ("undefined" !== typeof window ? window : this));
  </script>
</head>
<body class="{{page.class}}">

  <article>
  	{{ content }}

  	<section class="footer">
      <hr>
  		<p class="contact">
  		  <a href="{{ HOME_PATH }}">{{ site.author.name }}</a>
        &lt;<a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>&gt;
        <label for="mn-social" class="margin-toggle">⊕</label>
        <input type="checkbox" id="mn-social" class="margin-toggle" >
    		<span class="marginnote bottom-contact icons">
          {% include social.html %}
        </span>
  		</p>
  	</section>

  </article>

  {% include JB/analytics %}
</body>
</html>
