{% capture real_title %}{{ site.author.name }}{% if page.title %} / {{ page.title }}{% endif %}{%endcapture %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ real_title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/tufte.css" type="text/css" media="screen, projection, print" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/jon.css" type="text/css" media="screen, projection, print" />

   <!-- FONTAWESOME -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

   <!-- OpenGraph -->
   <meta property="og:title" content="{{ real_title }}" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="{{ BASE_PATH }}{{ page.url }}" />
   <meta property="og:image" content="" />
   <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.posts[0].description }}{% endif %}" />

   <!-- images -->
   <link rel="apple-touch-icon" href="/assets/images/hummingbird.gif"/>
   <meta http-equiv="imagetoolbar" content="no" />
   <link rel="shortcut icon" href="/assets/images/hummingbird.gif" />
   <link rel="icon" type="image/gif" href="/assets/images/hummingbird.gif" />

   <!-- HTTPS -->
   <script language="javascript">
    // Enforce SSL
    (function (root) {
      "use strict";
      var h = root ? root.location.hostname : "",
      p = root ? root.location.protocol : "";
      if ("http:" === p && !(/^(localhost|127.0.0.1)/).test(h)) {
        root.location.protocol = "https:";
      }
    }
    ("undefined" !== typeof window ? window : this));
  </script>
</head>
<body class="{{page.class}}">

  <article>
  	{{ content }}

  	<section class="footer">
      <hr>
  		<p class="contact">
  		  <a href="{{ HOME_PATH }}">{{ site.author.name }}</a>
        &lt;<a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>&gt;
        <label for="mn-social" class="margin-toggle">⊕</label>
        <input type="checkbox" id="mn-social" class="margin-toggle">
    		<span class="marginnote contact icons">
    		  <a href="https://github.com/{{ site.author.github }}/"><i class="fab fa-github-alt"></i></a>
    		  <a href="https://twitter.com/{{ site.author.twitter }}/"><i class="fab fa-twitter"></i></a>
    		  <a href="https://keybase.io/{{ site.author.twitter }}/"><i class="fas fa-key"></i></a>
    		  <a href="https://pinboard.in/u:{{ site.author.pinboard }}/"><i class="fas fa-th-large"></i></a>
      	  {% if site.author.feedburner %}
      		  <a  href="http://feeds.feedburner.com/{{ site.author.feedburner }}"><i class="fas fa-rss"></i></a>
      	  {% endif %}
        </span>
  		</p>
  	</section>

  </article>

  {% include JB/analytics %}
</body>
</html>
