{% if page.title %}
  {% capture tufte-title %}{{ page.title }}{% endcapture %}
  {% capture tufte-subtitle %}<a href="{{ HOME_PATH }}">{{ site.title }}</a>{% endcapture %}
{% else %}
  {% capture tufte-title %}{{ site.title }}{% endcapture %}
  {% capture tufte-subtitle %}{{ site.tagline }}{% endcapture %}
{% endif %}
<h1 id="tufte-css">{{ tufte-title }}</h1>
<section>
<p class="subtitle">
 <label for="mn-date" class="margin-toggle">&nbsp;</label><input type="checkbox" checked=true id="mn-date" class="margin-toggle">
  <span class="marginnote meta">
    {% if page.date %}
       <span class="date">{{ page.date | date_to_long_string }}</span><br>
    {% endif %}
    {% unless page.categories == empty %}
      Posted in:
      {% for category in page.categories %}
      <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">{{ category | join: "/" }}</a>
      {% endfor %}
    {% endunless %}

    {% unless page.tags == 'empty' %}
      {% for category in page.tags %}
        <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">{{ category | join: "/" }}</a>
      {% endfor %}
    {% endunless %}
  </span>
  {{ tufte-subtitle }}
</p>
</section>
<section>
  {{ content }}
</section>

<!--
<section id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>
-->
{% include JB/comments %}
