<span data-icon="🐙"><a rel="me" href="https://github.com/{{ site.author.github }}/">GitHub</a></span>
<span data-icon="🦆"><a rel="me" href="https://twitter.com/{{ site.author.twitter }}/">Twitter</a></span>
<span data-icon="🔑"><a rel="me" href="https://keybase.io/{{ site.author.keybase }}/">Keybase</a></span>
<span data-icon="📌"><a rel="me" href="https://pinboard.in/u:{{ site.author.pinboard }}/">Pinboard</a></span>
{% if site.author.feedburner %}
  <span data-icon="📡"><a rel="me" href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Feed</a></span>
{% endif %}