/*****************************************************************************/
/*
/* Hide stuff 
/*
/*****************************************************************************/

.rss, .title *, .footer, #post .contact a[href^="http"]:after {
  display: none !important;
}

a:visited {
  color: #00a;
}

body {
  background-image: none
}

/*****************************************************************************/
/*
/* Show text 
/*
/*****************************************************************************/


#post a[href^="http"] {
  color: black;
}

#post a[href^="http"]:after {
  color: #00a;
  margin-left: 0.5em;
  content: attr(href);
}

#post .contact {
  display: inherit !important;
}

#toc {
	display: none;
}
