/*****************************************************************************/
/*
/* Hide stuff 
/*
/*****************************************************************************/

.github-ribbon, .rss, .title .extra {
  display: none;
}

a:visited {
  color: #00a;
}
