/*****************************************************************************/
/*
/* Hide stuff 
/*
/*****************************************************************************/

.github-ribbon, .rss, .title * {
  display: none;
}

a:visited {
  color: #00a;
}

body {
  background-image: none
}

/*****************************************************************************/
/*
/* Show text 
/*
/*****************************************************************************/

.post a[href^="http"]:after {
  margin-left: 0.5em;
  content: attr(href);
}
