/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  min-width: 40em;
	max-width: 80%;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #007200;
  font-weight: bold;
  margin-bottom: 2em;
  font-size: larger;
}

  .site .title a {
    color: #007200;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
    font-size: smaller;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer, .site .post + .post {
    border-top: 4px dashed #eee;
    margin-top: 2em;
	}

  .site .footer {
    font-size: 80%;
    color: #666;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

    .site .footer .rss {
      margin-top: 1.1em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}



/*****************************************************************************/
/*
/* Backgrounds
/*
/*****************************************************************************/

body {

  background-repeat:no-repeat;
  background-attachment:fixed;

  /* ie10 consumer preview */ 
  background-image: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);

  /* mozilla firefox */ 
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);

  /* opera */ 
  background-image: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);

  /* webkit (safari/chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dddddd));

  /* webkit (chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);

  /* w3c markup, ie10 release preview */ 
  background-image: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);

}


/*****************************************************************************/
/*
/* Ribbons and badges 
/*
/*****************************************************************************/

.github-ribbon {
  opacity:0.4;
  filter:alpha(opacity=40);
}

#post .contact {
  display: none;
}

.typekit-badge {
  display: none !important;
}

.pin-title { font-size:1em;text-decoration:none;color:#00a}
.pin-description { color:#555; }
.pin-tag { color:#18c;text-decoration:none;font-size:0.9em; }

.gist, .highlight { overflow: scroll; font-size: 80%; }
