.footer .bottom-contact.icons * {
  background-repeat: inherit;
  -webkit-background-size: inherit;
}

.icons { 
  filter: grayscale(1);
}

.hide-emoji * b {
  display: none
}

.bottom-contact {
  font-size: larger;
}

.bottom-contact .social a {
  display: list-item;
  list-style-type: none;
}

.tag_box span {
  display: none;
}

.inline, .inline * {
  display: inline-flex;
}

@media print {
  .footer { display: none !important; }
  body { font-size: smaller; } 
}
