.icons b {
  background-repeat: inherit;
  -webkit-background-size: inherit;
  font-size: larger;
  margin-right: 4px;
}

.icons { 
  filter: grayscale(1);
}

.hide-emoji * b {
  display: none
}


.bottom-contact {
  list-style-type: none;
}

.tag_box span {
  display: none;
}

.inline, .inline * {
  display: inline-flex;
}

@media print {
  .footer { display: none !important; }
  body { font-size: smaller; } 
}
