.footer .bottom-contact.icons * {
  background-repeat: inherit;
  -webkit-background-size: inherit;
}

.icons { 
  filter: grayscale(1);
}

.expand-title *:after {
  content: attr(title)
}

.bottom-contact {
  font-size: larger;


.tag_box span {
  display: none;
}

.inline, .inline * {
  display: inline-flex;
}

@media print {
  .footer { display: none !important; }
  body { font-size: smaller; } 
}
